[user]
    name  = ramu
    email = ramusara@gmail.com

[color]
    branch      = auto
    diff        = auto
    interactive = auto
    status      = auto
    ui          = auto

[push]
    default = tracking

[core]
    pager     = less
    editor    = /Applications/Emacs.app/Contents/MacOS/bin/emacsclient
    autocrlf  = input
    quotepath = false

[credential]
	helper = osxkeychain
