# .gitignore
# zsh
.zsh/modules/
.zsh/.zcompdump
.zsh/.z

# mercurial
.hg/

# emacs
.emacs.d/*.elc
.emacs.d/conf/*.elc
.emacs.d/conf/src/10_twittering-mode.el
.emacs.d/elisp/
.emacs.d/eshell/
.emacs.d/private/
.emacs.d/elpa/
.emacs.d/tramp
.emacs.d/undohist/
.emacs.d/var/
.emacs.d/share/Warp/
.emacs.d/share/rsense-0.3/
.emacs.d/el-get/*
!/.emacs.d/el-get/my-recipes/*

# vim
.vim/.netrwhist
.vim/autoload/
.vim/bundle/
.vim/neobundle/
.vim/tmp/
