# .gitignore
# zsh
.zsh/modules/
.zsh/.zcompdump

# mercurial
.hg/

# emacs
.emacs.d/*.elc
.emacs.d/conf/*.elc
.emacs.d/conf/src/10_twittering-mode.el
.emacs.d/elisp/
.emacs.d/private/

# vim
.vim/.netrwhist
.vim/autoload/
.vim/bundle/
.vim/neobundle/
