[user]
    name = ramu
    email = ramusara@gmail.com

[color]
    branch      = auto
    diff        = auto
    interactive = auto
    status      = auto
    ui          = auto

[pager]
    log = delta
    show = delta
    diff = delta

[push]
    default = tracking

[core]
    pager     = delta
    editor    = vim
	autoCRLF = false
    quotepath = false
	excludesfile = ~/.gitignore_global
    precomposeunicode = true

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections

[credential]
	helper = osxkeychain

[rebase]
    autosquash = true
[diff]
    colorMoved = default
[merge]
    ff = false
    conflictstyle = diff3
[pull]
   rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
    current-branch = symbolic-ref --short HEAD
    s = status
    sw = switch

